{% extends 'posts_tem/layout.html' %}
{% block title %} DASHBOARD {% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'accounts:dashboard' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:upload' %}">
              <span data-feather="shopping-cart"></span>
              Add Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">
              <span data-feather="shopping-cart"></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h4">Dashboard</h3>
      </div>
        <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Category</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for pro in products %}
                <tr>
                  <th scope="row"></th>
                  <td>{{ pro.name }}</td>
                  <td>{{ pro.price }}</td>
                  <td>{{ pro.category }}</td>
                  <td><a href="/accounts/profile/{{ pro.id }}/">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </main>
  </div>
</div>

{% endblock %}