{% extends 'posts_tem/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} LOG IN {% endblock %}
{% block body %}
{% load static %}


<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 text-center">
		<form role="form" method="post" class="form-signin">
			<h2 class="card-title mt-3 text-center">Create Account</h2>
			<h3>Please Sign Up <small>It's free and always will be.</small></h3>
			<hr class="colorgraph">
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-block" style="font-size:1.5em"> Log In </button>
      </div>
    	<p class="text-center">Want Have An Account?<a href="#" style="font-size:1.5em">Click To Sign Up</a></p>
    </form>
    </div>
</div>
</div>

{% endblock %}